{% assign categories = site.data.example-categories %}
<div class="pa_m span-auto ma-t_xs">
  <nav class="flex gap_m{% if include.class %} {{ include.class }}{% endif %}">
    <div>
      <div class="flex bo-b_xs pa-b_xs">
        <div>
          <h3 class="text_l">Examples</h3>
        </div>
        <a data-tooltip="Examples list on one page" href="/examples" class="span-auto link flex-end text_s">
          &rarr;
        </a>
      </div>
      <ul class="columns cols-6 cols-2-t">
        {% for category in categories %}
        <li>
          <a href="/examples/{{ category.id }}" class="block pa_xs{% if page.category == category.id %} active{%  endif %}">{{ category.title }}</a>
        </li>
        {% endfor %}
     </ul>
    </div>
    {% comment %}
    <div>
      <h3 class="bo-b_xs pa-b_xs text_l">Usage</h3>
      <ul class="gap-no collapse-t">
        <li>
          <a href="/usage/" class="block{% if page.active == "usage" %} active{%  endif %}">Install</a>
        </li>
      </ul>
    </div>
    {% endcomment %}
  </nav>
</div>