<a href="" onclick="scroll(0,0)" class="docs-link-to-top ra-circle">
  &uarr;
</a>
<style>
    .docs-link-to-top {
    z-index: 2;
    text-align: center;
    line-height: var(--space-m);
    width:       var(--space-m);
    height:      var(--space-m);
    color:       var(--color-prime-4);
    background-color: var(--color-main-2);
    position: fixed;
    font-weight: bold;
    font-size: var(--text-l);
    bottom:    var(--space-m);
    right:     var(--space-m);
    mix-blend-mode: exclusion;
    box-shadow: 0 0 0 var(--space-px) var(--color-main-4);
  }
  .docs-link-to-top:hover { background-color: var(--color-prime-3); }
</style>
