<form class="gap-no">
  <div class="form-box tinted-success tinted-bg-success">
    <label for="email" class="mini-label">Enter your e-mail</label>
    <input type="email" id="email" name="email" class="input" placeholder="your@email.com" required value="djtrump@whitehouse.org">
  </div>
  <div class="form-box tinted-success tinted-bg-success">
    <label for="password" class="mini-label">Choose a safe password</label>
    <input type="password" id="password" name="password" class="input" placeholder="•••••••" required min="8" value="AfYYL__AjüDss">
  </div>
  <label class="box tinted-success tinted-bg-success">
    <input type="checkbox" id="terms" name="terms" class="checkbox" required checked>
    Accept the <a href="#" class="link">terms and conditions</a>
  </label>
  <button class="button block prime" type="submit">Sign up &rarr;</button>
</form>