    <table class="table dense">
      <tr class="{{ include.stripe-class }}">
        <td class="text-keep">Grant's zebra</td>
        <td class="text-clip">Equus quagga boehmi</td>
      </tr>
      <tr>
        <td class="text-keep">Selous' zebra</td>
        <td>Equus quagga selousi</td>
      </tr>
      <tr class="{{ include.stripe-class }}">
        <td class="text-keep">Maneless zebra</td>
        <td class="text-clip">Equus quagga borensis</td>
      </tr>
      <tr>
        <td class="text-keep">Chapman's zebra</td>
        <td class="text-clip">Equus quagga chapmani</td>
      </tr>
      <tr class="{{ include.stripe-class }}">
        <td class="text-keep">Crawshay's zebra</td>
        <td class="text-clip">Equus quagga crawshayi</td>
      </tr>
      <tr>
        <td class="text-keep">Burchell's zebra</td>
        <td class="text-clip">Equus quagga burchellii</td>
      </tr>
    </table>