<!DOCTYPE html>
<html lang="en">
  {% include templates/head.html %}
  <body>
    
    {% assign category = site.data.example-categories | where:"id", page.category %}
    {% assign examples = site.examples | where: "category", category[0].id | sort: "order", "last" %}

    {% include templates/header-navigation.html %}
    {% include templates/content-navigation.html %}

    <section class="pa-h_l span-auto">
      {% if category[0].sub-title %}
      <h1 class="text-black text-hero_m read_xxl ma-t_m">
        {{ category[0].sub-title }}
      </h1>
      {% endif %}
      {% if category[0].description %}
      <div class="text_xl read_xl ma-t_m">
        {{ category[0].description | markdownify }}
      </div>
      {% endif %}

      {% if category[0].details %}
      <div class="text_l read_xl ma-t_s">
        {{ category[0].details | markdownify }}
      </div>
      {% endif %}

      {%- if examples.size > 2 %}
      {% include templates/on-this-page-navigation.html %}
      {% endif -%}
    </section>

    <main class="pa-h_l">
      {% for example in examples %}
        {% include templates/example-template.html %}
      {% endfor %}
    </main>

    {% include templates/footer.html %}
    {% include templates/foot.html %}
  </body>
</html>
<!-- You have reached the end of the internet  -->