<form class="gap-no">
  <div class="form-box tinted-danger tinted-bg-danger">
    <label for="email" class="mini-label">Enter your e-mail</label>
    <input type="email" name="email" class="input" placeholder="your@email.com" required value="djtrump@trumporg.com">
    <div class="mini-info shown">Already in use</div>
  </div>
  <div class="form-box bg-danger tinted-warn tinted-bg-warn">
    <label for="password" class="mini-label">Choose a safe password</label>
    <input type="password" name="password" class="input bg-warn" placeholder="•••••••••" required min="6" value="aaaaaaaa">
    <div class="mini-info shown">Weak password</div>
  </div>
  <label class="box bg-danger tinted-danger tinted-bg-danger">
    <input type="checkbox" name="terms" class="checkbox" required>
    Accept the <a href="#" class="link">terms and conditions</a>
  </label>
  <button disabled class="button block prime" type="submit">Sign up &rarr;</button>
</form>
