<table class="table{% if include.class %} {{ include.class }}{% endif %}">
  <tr>
    <th>Country</th>
    <th class="hide-t">Flag</th>
    <th>Population</th>
    <th>Capital</th>
    <th class="hide-p">Language</th>
  </tr>
  <tr>
    <td>USA</td>
    <td class="hide-t">🇺🇸</td>
    <td>325 million</td>
    <td>Washington, D.C.</td>
    <td class="hide-p">English</td>
  </tr>
  <tr>
    <td>Germany</td>
    <td class="hide-t">🇩🇪</td>
    <td>82 million</td>
    <td>Berlin</td>
    <td class="hide-p">German</td>
  </tr>
  <tr>
    <td>Sweden</td>
    <td class="hide-t">🇸🇪</td>
    <td>10 million</td>
    <td>Stockholm</td>
    <td class="hide-p">Swedish</td>
  </tr>
</table>